html,
body {
  width: 100%;
  height: 100%;
  margin:0;
}

.none{
  display:none;
}

.main-view{
  width: 100%;
  height: 100%;
  background-image: url("../images/background-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1{
  position: absolute;
  bottom: 72%;
  left: 36%;
  font-family: 'Zilla Slab', serif;
  color: rgb(243, 243, 201);
  font-size: 90px;
  text-align: center;
  z-index: 2;
}

button{
  background-color: gainsboro;
  position: absolute;
  bottom: 76%;
  left: 47%;
  font-family: 'Zilla Slab', serif;
  color: rgb(124, 124, 113);
  font-size: 18px;
  text-align: center;
  z-index: 2;
  border-radius: 15px;
  border-style: none;
  padding: 5px;
  border-bottom: 4px solid rgb(153, 153, 153);
  outline:none;
}

button:hover{
  background-color: rgb(199, 255, 216);
  border-bottom: 1px solid rgb(153, 153, 153);

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
    bottom: 0;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    margin-top: 50px;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 355px;
    height: 391px;
    border: 3px solid rgb(243, 243, 201);
    z-index: 1;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    color: rgb(243, 243, 201);
    font-size: 28px;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 195, 204, 0.6)
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


form > input{
  border-radius: 10px;
  font-family: 'Zilla Slab', serif;
height: 25px;
font-size: large;
background-color: gainsboro;
border:rgb(243, 243, 201) solid 2px;
outline-color: rgb(179, 179, 179) ;
color: rgb(124, 124, 113);
z-index: 3;
}

.status{
  width: 305px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 1%;
    top: 66%;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

#add-button{
  background-color: gainsboro;
    position: absolute;
    bottom: 7%;
    left: 33%;
    font-family: 'Zilla Slab', serif;
    color: rgb(124, 124, 113);
    font-size: 20px;
    text-align: center;
    z-index: 2;
    border-radius: 45px;
    border-style: none;
    padding: 7px;
    border-bottom: 4px solid rgb(153, 153, 153);
}

#add-button:hover{
  background-color: rgb(199, 255, 216);
  border-bottom: 1px solid rgb(153, 153, 153);
  color: rgb(124, 124, 113);


}

/*Aquí empieza la estilización de library_store*/

.card{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
}



