html,
body {
  width: 100%;
  height: 100%;
  margin:0;
}

.none{
  display:none;
}

.main-view{
  width: 100%;
  height: 100%;
  background-image: url("../images/background-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1{
  position: absolute;
  bottom: 72%;
  left: 36%;
  font-family: 'Zilla Slab', serif;
  color: rgb(243, 243, 201);
  font-size: 90px;
  text-align: center;
  z-index: 2;
}

button{
  background-color: gainsboro;
  position: absolute;
  bottom: 76%;
  left: 47%;
  font-family: 'Zilla Slab', serif;
  color: rgb(124, 124, 113);
  font-size: 18px;
  text-align: center;
  z-index: 2;
  border-radius: 15px;
  border-style: none;
  padding: 5px;
  border-bottom: 4px solid rgb(153, 153, 153);
  outline:none;
}

button:hover{
  background-color: rgb(199, 255, 216);
  border-bottom: 1px solid rgb(153, 153, 153);

}

.form{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 301px;
  height: 337px;
  border: 3px solid rgb(243, 243, 201);
  z-index: 2;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  color: rgb(243, 243, 201);
  font-size: 28px;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 195, 204, 0.9)
}

form > input{
  border-radius: 10px;
  font-family: 'Zilla Slab', serif;
height: 25px;
font-size: large;
background-color: gainsboro;
border:rgb(243, 243, 201) solid 2px;
outline-color: rgb(179, 179, 179) ;
color: rgb(124, 124, 113);
}

.status{
  width: 305px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 1%;
    top: 66%;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

#add-button{
  background-color: gainsboro;
    position: absolute;
    top: 80%;
    left: 40%;
    font-family: 'Zilla Slab', serif;
    color: rgb(124, 124, 113);
    font-size: 20px;
    text-align: center;
    z-index: 2;
    border-radius: 45px;
    border-style: none;
    padding: 14px;
    border-bottom: 4px solid rgb(153, 153, 153);
}

#add-button:hover{
  background-color: rgb(199, 255, 216);
  border-bottom: 1px solid rgb(153, 153, 153);
  color: rgb(124, 124, 113);


}

/*Aquí empieza la estilización de library_store*/

.card{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
}



